p {color: purple;
font-family: "Inria Serif", "Times New Roman", Verdana Serif;
font-size: 40px}
h1 {color: darkolivegreen;
font-family: "Inria Smith", "Times New Roman", Verdana, Serif}
.gold {color: black;} 
body {background-color: lightseagreen;"}
